In [5]:
import pandas as pd
import numpy as np

In [6]:
l18 = pd.read_csv('../../data/2018/18_lap_var.csv')
l19 = pd.read_csv('../../data/2019/19_lap_var.csv')
l20 = pd.read_csv('../../data/2020/20_lap_var.csv')

In [12]:
df = pd.concat([l18, l19], axis=1)

In [13]:
df

                  Driver        Var             Driver        Var
0      Helio Castroneves   1.505163      Oliver Jarvis  38.962440
1           Dane Cameron  29.588485       Dane Cameron   2.021213
2          Oliver Jarvis  27.447206        Pipo Derani  41.049191
3      Jonathan Bomarito  31.739311       Joao Barbosa   1.627298
4   Renger Van Der Zande  37.146639  Helio Castroneves   1.191881
..                   ...        ...                ...        ...
64         Simon Trummer  46.831832        Felipe Nasr  62.723900
65       Stephen Simpson  35.858649  Jonathan Bomarito  32.019194
66    Juan Pablo Montoya  25.862443        Kyle Kaiser  42.040815
67         Tristan Nunez  23.516247    Tristan Vautier  50.895121
68                   NaN        NaN        Kyle Masson  22.606592

[69 rows x 4 columns]