In [9]:
import pandas as pd
import numpy as np

In [10]:
agg17 = pd.read_csv('../../data/2017/17_agg_score.csv')
agg18 = pd.read_csv('../../data/2018/18_agg_score.csv')
agg19 = pd.read_csv('../../data/2019/19_agg_score.csv')
agg20 = pd.read_csv('../../data/2020/20_agg_score.csv')

In [11]:
agg = pd.concat([agg17,agg18, agg19, agg20])
# agg = agg.drop(agg.columns[0], axis=1)
agg

      Time  Risk Score  Sus Deriv  Flag
0       60    8.427915   0.000000     0
1      120    8.401238   0.000000     0
2      180    8.362080   5.000000     0
3      240    8.303467   0.000000     0
4      300    8.232654   1.666667     0
..     ...         ...        ...   ...
718  42900    1.607891   0.000000     0
719  42960    1.524269   0.000000     0
720  43020    1.442992   0.000000     0
721  43080    1.364153   0.000000     0
722  43140    1.287826   0.000000     0

[2906 rows x 4 columns]

In [12]:
agg.to_csv('../../data/agg_score.csv', index=False)